<h1> A qui devons-nous ce superbe site?</h1>

<p> THP students!</p>
<br> cette nouvelle version de The Gossip Project a été développée par

  <li> Patrice, avec l'aide de
  <li> Emma
  <li> Vincent
  <li> Jérémy
</p>

