<h1>Bienvenue sur The Gossip Project !</h1>

<div>
    <%= link_to "As tu un nouveau potin à raconter?", new_gossip_path %>
</div>

<h2>Voici la liste des potins :</h2>
<div class="card-columns">
    <% Gossip.count.times do |i| %>   
        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><%= Gossip.find(i + 1).user.first_name %></h5>
            <p class="card-text"><%= Gossip.find(i + 1).title %></p>
            </div>
        </div>        
    <% end %>
</div>


